* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
/* Responsive Design */
/* Mobile */

/* barra superior */
.container-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px rgb(222, 222, 222) solid;
  height: 10%;
  max-height: 71px;
  width: 100vw;
  margin: 0;
}
/* none display botones de navegacion y trancisiones*/
.left-fragment-top-bar-buttons {
  display: flex;
  position: absolute;
  flex-direction: column;
  background: white;
  width: 69%;
  height: 100%;
  transform-origin: 0 0;
  transform: translateX(-400px);
  opacity: 0;
  padding: 29px;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  top: 5px;
  z-index: 101;
}

.left-fragment-top-bar-buttons.active {
  transform: translateX(-25%);
  opacity: 100;
}


.buttons-left-link-top {
  width: calc(4rem + 1vw);
  display: flex;
  margin: unset;
  background: transparent;
  border-color: transparent;
  font-size: 16px;
  text-align: unset;
  font-weight: unset;
  flex-direction: row;
  height: auto;
}
.buttons-left-link-top a {
  color: #00000052;
  text-decoration: none;
  padding: 5vh 17px;
}

.left-fragment-top-bar-buttons .active .buttons-left-link-top:nth-of-type(1) {
  transition-delay: 100ms;
}
.left-fragment-top-bar-buttons .active .buttons-left-link-top:nth-of-type(2) {
  transition-delay: 200ms;
}
.left-fragment-top-bar-buttons .active .buttons-left-link-top:nth-of-type(3) {
  transition-delay: 300ms;
}
.left-fragment-top-bar-buttons .active .buttons-left-link-top:nth-of-type(4) {
  transition-delay: 400ms;
}
.left-fragment-top-bar-buttons .active .buttons-left-link-top:nth-of-type(5) {
  transition-delay: 500ms;
}
/* botones izquierdos*/
.botones-izquierdos {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-menu-device {
  display: flex;
  align-items: center;
  margin-left: -18px;
  margin-right: 18px;
  z-index: 102;
  background: transparent;
  border-color: transparent;
}
.blackBlock {
  position: absolute;
  width: 100vw;
  height: 130%;
  background: #0000009e;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}
.blackBlock.active {
display: flex;

}

/* reales botones derechos*/
.profile-cart-button {
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  margin-right: -17px;
}
.profile-cart-button img {
  width: 23px;
}
/*boton de carrito*/
button.icon-cart {
  background: transparent;
  border: 1px;
  cursor: pointer;
}
/* Button Shopping Cart Container Toggle Shopping    */
.shopping-cart {
  height: 38vh;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  display: none;
  box-shadow: 2px 7px 30px 3px #999999f0;
  border-radius: 5px;
  top: 11.5%;
  right: 2%;
  width: 96%;
  min-height: 30%;
}

.shopping-cart.active {
  min-width: 28vh;
  height: auto;
  display: block;
  z-index: 10;
}
.cartContainer {
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 5px 17px;
  font-size: 0.79rem;
  font-weight: 900;
  border-bottom: 1px solid grey;
}
.shoppingCartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}
.shopping-cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.shopping-cart-item img {
  width: 36px;
  border-radius: 2px;
  display: Flex;
}
.shopping-cart-price p {
  display: contents;
  font-size: 14px;
  color: rgb(0 0 0 / 65%);
}
.shopping-cart-price a {
  font-size: 14px;
}
p.item-quat.shoppingCartItemPricePerQuantity {
  font-weight: 700;
  color: rgb(0 0 0);
}

.text-cart-noitem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  color: grey;
  min-height: 22vh;
  height: auto;
}
.ButtonCheckout {
  background: rgb(255 125 26);
  display: none;
  align-items: center;
  width: 80%;
  height: 14vw;
  justify-content: center;
  border-radius: 9px;
  margin: 10px 0px;
  cursor: pointer;
  border-color: transparent;
  color: hsl(223deg 64% 98%);
  max-height: 55px;
}

.ButtonCheckout:hover {
  opacity: 0.5;
}
.shopping-cart-price {
  color: rgb(0 0 0 / 65%);
}
.buttonDelete {
  display: flex;
  border: rgb(0 0 0 / 0%);
  margin: 10px;
  padding: 10px;
  background: transparent;
  cursor: pointer;
  width: 25px;
}
.btn-danger img {
  width: 15px;
}
/*boton del perfil*/
.profile-button {
  border-radius: 35px;
  border-color: transparent;
  cursor: pointer;
}
.profile-button:hover {
  border-color: hsl(26, 100%, 55%);
}
/* galeria movil*/
#btn-next {
  position: absolute;
  top: 30%;
  left: 85vw;
  background: white;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 37px;
  border: transparent;
}
#btn-previous {
  position: absolute;
  top: 30%;
  left: 5px;
  background: white;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  border-radius: 37px;
  border: transparent;
  justify-content: center;
  align-content: center;
}
#btn-close {
  display: none;
}
#img-major img {
  margin-left: -2px;
  width: 100%;
  height: 45vh;
  max-height: 299px;
  border-radius: 0px;
  margin: auto;
  display: none;
}
#img-activa {
  width: 100%;
  height: 45vh;
  max-height: 299px;
  border-radius: 0px;
  margin: auto;
}
.img-miniature {
  display: none;
}
/*contenedor de descrision de productos*/
.descrition-product {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 15px auto;
  gap: 2px;
}

/* letras de la descricision*/
.brand-name {
  color: rgb(255 165 0);
  font-weight: 700;
}
.item-title {
  margin: 5px 4px;
  font-size: 29px;
  letter-spacing: -1px;
  word-spacing: 3px;
}
.descrition-product p {
  margin: 8px 0px 26px 0px;
  line-height: 25px;
  width: 104%;
}
/* precios-*/
.containerx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 21px;
}
.container-price {
  display: flex;
  align-items: center;
  gap: 38px;
  flex-direction: row;
}
.price.item-price {
  font-size: 28px;
  font-weight: 600;
  margin-left: 8px;
}
.discount {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  margin-left: -10px;
  padding: 4px 6px;
  border-radius: 4px;
}
.previous-price {
  font-size: 18px;
  font-weight: 700;
  color: rgb(0 0 0 / 52%);
}
/*contador*/
.true {
  display: flex;
  justify-content: center;
}
.buttons-quantity-products {
  width: 24%;
  height: 46px;
  color: rgb(255 165 0);
  border-color: transparent;
  background-color: hsl(223, 64%, 98%);
  border-radius: 4px;
}
.quat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  border-color: transparent;
  background-color: hsl(223, 64%, 98%);
  cursor: pointer;
  font-weight: 800;
}
.node {
  display: flex;
  justify-content: center;
}
.buy-button {
  margin: 21px 0px;
  width: 97%;
  max-width: 600px;
  height: 55px;
  align-items: center;
  border-radius: 9px;
  color: rgb(247 247 247);
  background: rgb(255 125 26);
  border-color: rgb(0 0 0 / 0%);
}
@media only screen and (min-width: 595px) {
  #img-activa {
    width: 70%;
    height: 98vh;
    max-height: 299px;
    border-radius: 5px;
    margin: 35px auto;
    display: flex;
  }
  #btn-previous {
    top: 38%;
    left: 17%;
  }
  #btn-next {
    top: 38%;
    left: 80%;
  }
}

/* Table */
@media only screen and (min-width: 768px) {
  .left-fragment-top-bar-buttons {
    transform: translateX(-700px);
  }
  .left-fragment-top-bar-buttons.active {
    transform: translateX(-28%);
  }
  .parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #img-activa {
    width: calc(38vh + 38vw);
    height: 59vh;
    max-height: 376px;
    border-radius: 5px;
    margin: 15px auto;
    display: flex;
  }

  .descrition-product {
    width: 80%;
  }

  .buttons-left-link-top {
    font-size: calc(0.2em + 2.5vw);
  }
  .item-title {
    font-size: calc(3vh + 2vw);
  }

  .price.item-price {
    font-size: 41px;
  }
  .previous-price {
    font-size: 2em;
  }
  .quat {
    font-size: 1.5em;
  }
  .buttons-quantity-products {
    height: 3em;
    font-size: 2em;
  }
  .buy-button {
    height: 77px;
  }
}
/*laptop*/
@media only screen and (min-width: 992px) {
  .button-menu-device {
    display: none;
  }
  .container-top-bar {
    height: 14%;
    max-height: 113px;
    width: 77vw;
    margin: auto;
    justify-content: space-between;
  }
  .left-fragment-top-bar-buttons {
    display: flex;
    background: unset;
    width: unset;
    height: unset;
    padding-top: unset;
    transform-origin: unset;
    transform: unset;
    opacity: unset;
    transition-property: unset;
    transition-duration: unset;
    transition-timing-function: unset;
    transform: unset;
    margin-left: 10.2vw;
    flex-direction: row;
  }
  .buttons-left-link-top {
    width: calc(4rem + 1vw);
    display: flex;
    margin: unset;
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    text-align: unset;
    font-weight: unset;
    justify-content: center;
    flex-direction: row;
    height: auto;
  }
  .buttons-left-link-top a {
    color: #00000052;
    text-decoration: none;
    padding: 5vh 17px;
  }
  .buttons-left-link-top :hover {
    border-bottom: solid hsl(26, 100%, 55%);
    color: black;
  }
  .shopping-cart.active {
    min-width: 28vh;
    height: auto;
    right: 6%;
    width: 25%;
    min-height: 28%;
  }
  .cartContainer {
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 5px 17px;
    font-size: 0.79rem;
    font-weight: 900;
    border-bottom: 1px solid grey;
  }
  .profile-button img {
    width: calc(2rem + 1vw);
  }

  .parent-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 84vh;
    gap: 50px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #img-major img {
    width: calc(18vh + 18vw);
    border-radius: 11px;
    height: auto;
    max-height: none;
    display: flex;
  }

  .img-miniature img {
    border-radius: 11px;
    width: calc(3vw + 5vh);
    margin-top: 24px;
  }
  .img-miniature {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 25px;
  }
  .img-miniature img:hover {
    opacity: 0.5;
  }
  /*********************/
  /*Contenedor Principal del Lightbox*/

  #img-activa {
    width: calc(22vw + 22vh);
    height: calc(22vw + 22vh);
    border-radius: 10px;
    max-height: none;
  }
  #contenedor-principal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: center;
  }

  /*Contenedor interno del Lightbox*/

  #contenedor-interno {
    border-radius: 5px;
    padding: 2px;
    max-width: 500px;
    min-height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /*Botones*/

  button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #f3f3f3;
  }

  #btn-close {
    position: absolute;
    top: -5%;
    right: 2px;
    font-size: 3rem;
    display: flex;
  }

  #btn-previous {
    position: absolute;
    top: 35%;
    left: -23px;
    font-size: 3rem;
    background: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
  }

  #btn-next {
    position: absolute;
    top: 35%;
    right: -23px;
    font-size: 3rem;
    background: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
    left: auto;
  }
  #con {
    display: none;
  }
  #con img {
    width: calc(2.09rem + 3vw);
  }
  /*********************/
  .item-title {
    font-size: calc(2vh + 2vw);
  }
  .descrition-product {
    gap: 4px;
  }
  .descrition-product p {
    font-size: calc(0.6vh + 0.7vw);
  }
  .containerx {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: unset;
    align-items: flex-start;
  }
  .price.item-price {
    font-size: 30px;
  }
  .previous-price {
    font-size: 1.3em;
  }
  .bts-add-buy {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }
  .buttons-quantity-products {
    height: 59px;
    font-size: 2em;
    width: 54px;
  }
  input#txt {
    width: 70px;
    height: 58px;
  }

  .buy-button {
    height: 57px;
    width: 17rem;
  }
  .buy-button:hover {
    opacity: 0.5;
  }
}

/* large screen */
@media only screen and (min-width: 1200px) {
  .parent-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 84vh;
    gap: 120px;
  }

  .descrition-product {
    max-width: 600px;
  }
}
